@import 'tailwindcss';

:root {
  --neo-verde: #008d36;
  --indra-azul: #004f71;
  --minsait-bordo: #700036;
}

body {
  @apply bg-slate-900 text-slate-100 antialiased;
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    sans-serif;
}
